html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.card{
    border: 1px solid #ccc;
    width: 950px;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}

.center{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}